.city-summary-box {
  width: 100%;
  height: 100%;
  overflow: hidden;
  /* Additional styling */
  background-color:#333;
  border-radius:10px;
  padding: 5px; 
  color: white;
  text-align: justify;
  font-size: medium;
}

.city-summary-text {
  font-family: 'QuicksandRegular', sans-serif;
  vertical-align: middle;
  position: relative;
  margin: auto;
  height: 100%;
}

