.summary-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.summary-box {
  text-align: center;
  background-color:#333;
  padding:20px;
  border-radius:10px;
  color:#fff;
}

.weatherCardContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: nowrap;
}

.weatherCard {
  /* flex: 1 0 12.5%; 1/8 = 12.5% for each card */
  background-color: #fff;
  padding: 10px;
  color: #000;
  text-align: center;
  font-size: x-small;
  border-radius: 10px;
  width: 50px;
  height: 90px;
}

.weatherCard-text {
  font-size: 15px;
}

.control-arrow {
  opacity: 1; /* Make arrows fully visible */
  filter: invert(100%); /* Invert color to white */
}