.summary-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.summary-box {
  text-align: center;
  background-color:#333;
  padding:20px;
  border-radius:10px;
  color:#fff;
  height: 100%;
}

.weatherCardContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: fit-content;
}

.weatherCard {
  background-color: #333;
  color: #fff;
  font-size: x-small;
  border-radius: 10px;
  padding: 10px;
  margin: 0px 5px;
  width: 135px;
  height: 175px;
  font-family: 'QuicksandRegular', sans-serif;
  line-height: 0.9;
  display: flex;
  flex-direction: column;
}

.weatherCard-text {
  font-size: 11px;
  padding: 1px;
}

.control-arrow {
  opacity: 1; /* Make arrows fully visible */
  filter: invert(100%); /* Invert color to white */
}

.cardImg {
  height: 48px;
  width: fit-content;
}

.small-spacing {
  line-height: 1.1;
}

.weatherCard-text-weather {
  flex: 0 0 15px;
}

.larger {
  font-size: 2.0em;
}

.little-larger {
  font-size: 1.5em;
}
