.summary-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

.summary-box {
  text-align: center;
  background-color: #333;
  padding: 20px;
  border-radius: 10px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.temp-attribute {
  font-size: 20px;
  color: #6c64fb;
  border: 1px solid #fff;
  border-radius: 35px;
  padding: 5px;
  width: 100%; 
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.daily-attribute {
  height: fit-content;
  width: 25px;
  position: absolute;
  left: 10px;
}

.daily-attribute-temp {
  height: fit-content;
  width: 22px;
  position: absolute;
  left: 10px;
}

.temp-attribute.temperature {
  font-size: 30px;
  color: #ff0;
}

.cloudcover-attribute {
  font-size: 15px;
  color: #fff;
}

.current-temperature {
  font-size: 50px;
  padding: 0%;
}

.currentTempDetails {
  padding: 0px;
  line-height: 0.6;
}

.temp-text {
  align-content: center;
  font-family: QuicksandRegular, sans-serif;
}

.icon {
  height: 145px;
  width: fit-content;
}