.settings-box {
  width: 100%;
  background-color: #333;
  border-radius: 10px;
  color: white;
  text-align: center;
  font-size: 100px;
  font-family: "QuicksandRegular", sans-serif;
  display: flex;
  flex-direction: row;
}

.settings-container {
  display: flex;
  box-sizing: border-box;
  margin: 8px;
  display: flex;
  justify-content: space-between;
  height: fit-content;
}

.settings-label {
  font-size: 20px;
  font-weight: bold;
  width: 200px; /* add a fixed width */
  text-align: left;
  margin: 20px 15px;
}

.settings-form {
  display: flex;
  flex-direction: row;
}

.settings-section {
  display: flex;
  flex-direction: column;
  margin: 0.25em;
}

.settings-submit {
  width: 30%;
  font-size: 20px;
  border-radius: 10px;
}

.settings-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  position: relative;
  padding: 2%;
  /* width: 100%; */
}

.settings-input {
  font-size: 25px;
  flex-basis: 70%;
  border-radius: 7px;
  font-size: 19px;
  width: 100%;
  padding: 2px 3px;
}

.toggle-btn {
  display: none;
}

.temp-checkbox #toggle-label {
  position: relative;
  cursor: pointer;
  display: block;
  width: 50px;
  height: 30px;
  background: #cccccc;
  border-radius: 50px;
  transition: 300ms linear;
}

.temp-checkbox #toggle-label:before {
  position: absolute;
  top: 50%;
  left: 2px;
  transform: translateY(-50%);
  content: "";
  display: block;
  width: 25px;
  height: 25px;
  background: #ffffff;
  border-radius: 50%;
  transition: left 300ms linear;
}

.temp-checkbox #toggle-btn:checked + #toggle-label {
  background: #000000;
}

.temp-checkbox #toggle-btn:checked + #toggle-label:before {
  left: 23px;
}

.temp-checkbox #toggle-btn {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.toggle-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 180px;
}

.temp-text {
  font-size: 14px;
  color: #fff;
}

.switch-heading {
  font-size: 20px;
  margin: 15px;
  font-weight: bold;
}

.vertical-line {
  border-left: 1px solid #fff;
  height: 2.7em;
  margin: auto 5%;
  width: 1px;
}

.temp-checkbox2 #toggle-label2 {
  position: relative;
  cursor: pointer;
  display: block;
  width: 50px;
  height: 30px;
  background: #cccccc;
  border-radius: 50px;
  transition: 300ms linear;
}

.temp-checkbox2 #toggle-label2:before {
  position: absolute;
  top: 50%;
  left: 2px;
  transform: translateY(-50%);
  content: "";
  display: block;
  width: 25px;
  height: 25px;
  background: #ffffff;
  border-radius: 50%;
  transition: left 300ms linear;
}

.temp-checkbox2 #toggle-btn2:checked + #toggle-label2 {
  background: #000000;
}

.temp-checkbox2 #toggle-btn2:checked + #toggle-label2:before {
  left: 23px;
}

.temp-checkbox2 #toggle-btn2 {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.toggle-container2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 160px;
}

.cityContainer {
  position: relative;
}

.inputWithSuggestions {
  position: relative;
  flex-basis: 70%; /* Same as settings-input */
  display: flex; /* NEW: make this a flex container */
  align-items: center; /* NEW: center contents vertically */
}

.suggestionList {
  position: absolute;
  width: 99.7%;
  left: 0.3%;
  top: 98%;
  background-color: white;
  border-radius: 4px;
  z-index: 1;
  background-color: #ffffff;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  font-size: 17px;
  color: #000000;
}

.suggestion {
  padding: 10px;
  cursor: pointer;
  text-align: left; /* Align text to left */
}

.suggestion:hover {
  background-color: #ddd; /* Change color on hover */
}

.settings-input,
.inputWithSuggestions {
  flex-grow: 1; /* let it take the rest of the space */
  width: 100%; /* maintain the full width */
}

.settings-label {
  flex-grow: 0; /* prevent label from growing */
  flex-shrink: 0; /* prevent label from shrinking */
}
