.sidebar {
  position: relative; /* Fixes the sidebar on the screen */
  height: fit-content;
  display: flex;
  flex-direction: column;
  padding: 5px;
  border-right: 1px solid #ccc;
  background-color: #333;
  border-radius: 10px;
  align-self: center;
}
.sidebar-item {
  display: flex;
  align-items: center;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  max-width: 50px;
  margin: 15px 0;
  padding: 2px;
  background-color: #e0e0e0;
  border-radius: 10px;
}

.sidebar-text {
  display: none;
}

.sidebar-item:first-child {
  margin-top: 0;
}

.sidebar-item:last-child {
  margin-bottom: 0;
}

.sidebar-container {
  display: flex;
  align-items: center;
  height: 100%; /* Takes the full viewport height */
}
